@model Estabelecimento

@{
    ViewData["Title"] = "Gerenciar Conta";
    Layout = "_LayoutNavSide";
}
<style>
    .no-border:focus {
        outline: none;
        box-shadow: none;
    }

    .no-border:hover {
        color: #555
    }
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />
<link href="~/css/indexEstabelecimento.css" rel="stylesheet" />

<meta http-equiv="refresh" content="60" />

<div class="mr-5 mt-5 d-flex justify-content-end">
    <a class="btn btn-danger btn-lg menu-button ml-2" role="button" style="box-shadow: 6px 6px 10px #333; padding-left: 20px" asp-action="Logout" asp-controller="Home">
        <span class="material-icons text-light">logout</span>
    </a>
</div>
<div class="dropdown mx-5 my-2 dropleft d-flex justify-content-end">
    <button class="btn btn-warning dropdown-toggle no-border" type="button" style="box-shadow: 6px 6px 10px #333;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="material-icons no-border">notifications</span> <span class="text-danger" style="font-weight: bold">@ViewBag.sugestoes.Count</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <h5 style="margin: 20px;">Sugestões de músicas</h5>
        @if (ViewBag.sugestoes.Count <= 9)
        {
            @foreach (var m in ViewBag.sugestoes)
            {
                <div class="dropdown-item d-flex justify-content-between">
                    <p class="text-center mt-2">@m.MusicName - @m.ArtistName</p>
                    <form asp-action="ApagarNotificacao">
                        <input name="id" type="hidden" value="@m.SuggestMusicId" />
                        <button type="submit" class="btn"><span class="material-icons ml-2 text-danger">delete_outline</span></button>
                    </form>
                </div>
            }
        }
        @if (ViewBag.sugestoes.Count > 0)
        {
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center text-info" asp-action="Sugestoes">Ver todas</a>
        }
        @if (ViewBag.sugestoes.Count == 0)
        {
            <p class="text-info mx-2">Nenhuma sugestão por enquanto</p>
        }
    </div>
</div>

<div style="display: flex; flex-direction: column; margin-top: 3%; margin-left: 7%; min-height: 80vh">
    <div class="card mx-auto" style="width: 70%; height: 70%; border-radius: 20px; box-shadow: 6px 6px 15px #333; ">
        @if (@TempData["Sucesso"] != null)
        {
            <Feedback Texto="@TempData["Sucesso"]" is-error="false"></Feedback>
        }
        else
        {
            <Feedback Texto="@TempData["Erro"]" is-error="true"></Feedback>
        }
        <row class="mt-4">
            <div class="d-flex row my-auto justify-content-around align-content-center">
                <div class="col-md-5 div-warning">
                    <span style="display: flex; justify-content: center; font-size: 40px; color: #FFc107" class="material-icons ml-2 mb-1">manage_accounts</span>
                    <h2 style="display: flex; justify-content: center;" class="mb-5 bold">Gerenciar Conta</h2>

                    <h3 style="display: flex; justify-content: center;" class="mb-3">Editar informações</h3>
                    <div class="mx-auto row justify-content-center">
                        <a asp-action="EditarGerente" asp-controller="Estabelecimento" class="btn btn-warning mx-2">Gerente</a>
                        <a asp-action="EditarEstabelecimento" asp-controller="Estabelecimento" class="btn btn-warning mx-2">Estabelecimento</a>
                    </div>
                </div>
                <div class="col-md-5 div-danger">
                    <h2 style="display: flex; justify-content: center;" class="mb-3 bold"><span class="material-icons text-danger" style="font-size: 50px">report_gmailerrorred</span></h2>

                    <h3 style="display: flex; justify-content: center;" class="mb-3">Apagar estabelecimento</h3>
                    <div class="mx-auto row justify-content-center">
                        <button type="button" class="mb-3 btn btn-danger" data-toggle="modal" data-target="#modalConfirma">
                            Apagar definitivamente
                        </button>
                    </div>
                </div>
            </div>
        </row>
        <row class="justify-content-center d-flex">
            <div class="mt-4 d-flex justify-content-around">
                <a asp-action="Index" asp-controller="ItemCardapio" class="btn botao mb-4 mx-2">Visualizar o cardápio</a>
                <a asp-action="Avaliacoes" asp-controller="Estabelecimento" class="btn botao mb-4 mx-2">Visualizar avaliações</a>
            </div>
        </row>
    </div>
</div>



<div class="modal fade" id="modalConfirma" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #23272B; color: white">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
            </div>
            <div class="modal-body" style="background-color: powderblue">
                <p>Não será possível reverter esta ação. Você não poderá mais acessar o sistema, seus dados, os do estabelecimento e todos os itens do cardápio serão apagados. Tem certeza que deseja apagar <b>definitivamente</b> o estabelecimento? </p>
            </div>
            <div class="modal-footer border-top-0" style="background-color: powderblue; color: white">
                <form asp-action="Remover">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim, apagar estabelecimento</button>
                </form>
            </div>
        </div>
    </div>
</div>


